*.ilc
*.ild
*.ilf
*.ils
*.map
*.pdi
*.tds
*.ast*
Component/*
!Component/Readme.md
Compil/*
!Compil/Readme.md
Obj/*
!Obj/Readme.md
Proj/__history
Proj/__recovery
Src/__history
Src/__recovery
Config - playlist ancien format/
Inno Setup/
Redist/*
Bin/Config/Backup/*
!Redist/Readme.md
